extends layout.pug


block content
  .inner-wall(style="background-image: url('./img/about.jpg')")
    .inner-wall__container
      .grid.grid--container
        h1.h1.inner-wall__title О компании
  
  .grid.grid--container
    .inner
      .row
        .col.col--lg-8
          h2.h3 МДС микро - ведущий производитель микродвигателей
          p.p Производственное предприятие «МАК-микро» начало свою работу в ноябре 1995 года, оно образовалось на базе «Савеловского машиностроительного завода».
          p.p Изначально предприятие занималось изготовлением микродвигателей внутреннего сгорания специально для организации РОСТО ДОСААФ РФ, а также частных лиц.
          p.p Сентябрь 1999 года был для производства переломным, оно преобразовалось в открытое акционерное общество «МДС-микро». На протяжении нескольких лет компания занимала лидирующие места по выпуску микродвигателей внутреннего сгорания, которые применялись в авиа-, судо- и машиностроении. Предприятие выпускало не только отработанные виды калильных двигателей, но и проводило научно-исследовательские опыты.
          p.p Продукция предприятия под брендом «MDS» поставлялась в Россию, Америку и в страны Европы Великобританию и Польшу.
          p.p В связи с новыми экономическими реалиями, с 2005 года производство ОАО «МДС-микро» было перепрофилировано на изготовление деталей, узлов и агрегатов по заказам предприятий оборонного комплекса РФ, предприятий общего и транспортного машиностроения, частных фирм.

        .col.col--lg-3.col--lg-offset-1
          .video
            a(href="#video").video__img.modal-open
              img(src="./img/video.jpg", alt="")
            .video__title Производство в МДС


  .full(style="background-image: url(img/team.jpg)")
    .grid.grid--container
      .full__container
        h2.h3 Команда
        p На МДС микро работают только квалифицированные специалисты, заинтересованные в производстве продукции высшего качества.


  .grid.grid--container
    .inner
      .row
        .col.col--lg-8
          p.p С середины 2016 года завод приступил к дальнейшему развитию и расширению собственного производства с целью удовлетворения возрастающего спроса на сложные агрегаты и системы.
          p.p В планах руководства так же стоит задача по восстановлению производства сложных изделий, таких как запасные части к микродвигателям внутреннего сгорания, а впоследствии возрождению выпуска и самих двигателей.
          p.p Основным конкурентным преимуществом ОАО «МДС-микро» является наличие большого современного станочного парка, позволяющего выпускать детали сложной пространственной формы и квалифицированные кадры, обеспечивающие выпуск продукции высокого качества.
          h2.h3 Сертификация
          p.p ОАО «МДС-микро» в 2014г. сертифицировано по системе менеджмента качества в соответствии с ГОСТ Р ИСО 9001-2011 и ГОСТ РВ 0015.002-2012.
          .row
            .col.col--sm-6
              a(href="" download).file
                .file__icon
                  img(src="./img/pdf.jpg", alt="")
                .file__content
                  .file__title Государственная экспертиза условий труда
                  .file__size PDF, 420 KB
            .col.col--sm-6
              a(href="" download).file
                .file__icon
                  img(src="./img/pdf.jpg", alt="")
                .file__content
                  .file__title Сертификат соответствия
                  .file__size PDF, 420 KB
          h2.h3 Дипломы и награды
          p.p Продукция и деятельность предприятия была отмечена различными дипломами и наградами.
          .documents
            a(href="./img/document-big.jpg").document.modal-open
              img(src="./img/document.jpg", alt="")
            a(href="./img/document-big.jpg").document.modal-open
              img(src="./img/document-2.jpg", alt="")


  #video.modal.modal--without-border
    iframe(src="https://www.youtube.com/embed/J6yU8DC6LNU" frameborder="0" allowfullscreen)