extends layout.pug


block content
  .inner-wall(style="background-image: url('./img/inner-3.jpg')")
    .inner-wall__container
      .grid.grid--container
        h1.h1.inner-wall__title Порошковая окраска деталей
  
  .grid.grid--container
    .inner
      .row
        .col.col--lg-3
          .sideblock
            ul.inner-nav
              li: a(href="") Изготовление деталей на станках с ЧПУ
              li: a(href="") Листообработка
              li: a(href="") Металлообработка на станках с ЧПУ
              li: a(href="") Механообработка
              li: a(href="") Производство
              li.active
                a(href="") Слесарная обработка
                ul
                  li: a(href="") Дробеструйная и пескоструйная обработка
                  li: a(href="") Сварочные работы
                  li: a(href="") Сверление отверстий в металле
                  li: a(href="") Нормализация, отжиг, закалка деталей
                  li: a(href="") Порошковая окраска деталей
              li: a(href="") Термообработка
            .person
              .person__img
                img(src="./img/marketolog.jpg", alt="")
              .person__name Ольга Дедяева
              .person__role Cпециалист отдела продаж
              .person__phone +7 999 555-23-12
        .col.col--lg-9
          h2.h3 О порошковой окраске
          p.p Порошковая окраска на сегодняшний день считается довольно эффективным методом нанесения защитных покрытий на различные металлические детали. Огромный ассортимент цветов, текстур и глянца позволяет подобрать наиболее подходящий оттенок и фактуру окрашиваемой поверхности.
          p.p Порошковая покраска отличается рядом преимуществ:
          ul
            li в первую очередь – это стойкость к различным повреждениям;
            li значительное сокращение затраченного времени на покраску;
            li более высокая защита изделия.
          .infographic
            .infographic__image
              img(src="./img/spray-gun.png", alt="")
            .info.info--big
              .info__container
                .info__number 220
                .info__text тысяч м<sup>2</sup>
              .info__subtitle поверхностей покрашено за 2017 год
          p.p Во время нанесения порошкового красящего слоя образовывается плотное покрытие высокого качества. Порошковая краска отличается повышенной стойкостью, она не теряет своих свойств в процессе использования изделия. Детали, окрашенные таким способом, обладают высокой конкурентоспособностью.
          p.p Данная технология очень популярна в таких сферах, как:
          ul
            li бытовая техника;
            li промышленное оборудование;
            li авто;
            li дизайн;
            li архитектура.
          p.p Данный вид покраски имеет свои особенности, важно отметить, что она осуществляется поэтапно. В такой работе важен каждый шаг. Высококвалифицированные специалисты компании «МДС-микро» покрасят различные детали с учетом всех особенностей, качественно и строго в указанный срок.
          p.p Мы гарантируем качественное покрытие различных поверхностей, а также соблюдение всех требований и пожеланий заказчика. На нашем предприятии имеется отдельная команда специалистов, которые осуществляют контроль качества на всех этапах изготовления и обработки металлических конструкций. 
          h2.h3 Преимущества порошкового окрашивания
          p.p Данная технология очень популярна в таких сферах, как:
          ul
            li простота в использовании. Технология окраски не нуждается в строгом контроле за вязкостью поверхности, а также в соблюдении показаний предписанной величины;
            li значительная скорость. Краска застывает очень быстро. Помимо этого, покрытие деталей проводится только один раз, а не несколько, как при обычном окрашивании;
            li приемлемая стоимость. Специальный расчет дает возможность использовать по назначению практически 100% материала, что не дает ни один другой способ окрашивания;
            li прочность и стойкость. Порошковое окрашивание различных деталей гарантирует отличную стойкость к внешним факторам. Для порошковой краски характерны электроизоляционные и антикоррозионные свойства. Данный материал устойчив к влиянию щелочей, кислот и прочих агрессивных элементов;
            li долгий срок эксплуатации. Даже в неблагоприятных условиях материал сможет прослужить более 50 лет;
          p.p Также в перечень преимуществ данного типа окрашивания входит высокая экологичность краски, что позволяет уберечь организм от негативных факторов. В составе такого продукта полностью отсутствуют химические элементы и различные вредоносные растворители. 
          p.p Окраска мелких деталей является довольно сложным процессом, который должен проводиться квалифицированными специалистами. 
          p.p Наше современное оборудование и профессиональный подход позволяют окрасить все детали равномерно, не оставляя никаких следов. Особенности данной технологии дают возможность окрасить все изгибы и труднодоступные места.
          p.p ОАО «МДС-микро» гарантирует высокое качество выполненных работ, а также их своевременное проведение.
          .section-links
            - for(var i = 0; i < 4; i++)
              a(href="").section-links__link.section-link
                .section-link__container
                  .section-link__header Шлифовка деталей
                  .section-link__anons Порошковая окраска на сегодняшний день считается довольно эффективным методом нанесения защитных покрытий на различные металлические детали.
                .section-link__icon
                  img(src="./img/arrow.svg", alt="").svg









            //- i.i Стоимость услуг металлообработки рассчитывается индивидуально для каждого клиента. Взаимовыгодность — это то, к чему мы стремимся, поэтому всегда стараемся найти оптимальные схемы сотрудничества с клиентом.
          //- .read-next
          //-   i.i Читать далее
          //-   a.service(href="" style="background-image: url(./img/service/3.jpg)")
          //-     .service__container
          //-       .service__title Слесарная обработка
          //-       .service__btn
          //-         i.fa.fa-angle-right

      //- .show-more
      //-   .show-more__icon
      //-     img(src="./img/show-more.png", alt="")
      //-   .show-more__text Показать еще

