extends layout.pug


block content
  .inner-wall(style="background-image: url('./img/inner.jpg')")
    .inner-wall__container
      .grid.grid--container
        h1.h1.inner-wall__title Производство <br> микродвигателей
  
  .grid.grid--container
    .inner
      .row
        .col.col--sm-8
          p.p Предприятие ОАО «МДС-МИКРО» ориентировано на механическую обработку и изготовление изделий из листового материала для разнообразных сфер применения. 
          p.p Имея современное производство и профессиональный конструкторско-технологический отдел, мы готовы предложить изготовление деталей и изделий по чертежам и эскизам заказчика, а также по образцам или техническому заданию.
          .row.row--sm-center.medium-offset
            .col.col--sm-6
              .info.info--big
                .info__container
                  .info__number 880
                  .info__text двигателей
                .info__subtitle произведено на нашем заводе за 10 лет
            .col.col--sm-6
              .text-center
                img(src="./img/icon.png", alt="")
          p.p Двигатели, выпускаемые МДС в настоящее время, являются двигателями второго поколения – это новейшие двигатели из текущей программы развития. Микродвигатели постоянно совершенствуются, внедряются новые технологические процессы, направленные на повышение качества и стабильности их работы.
          h3.h3 Производственный процесс
          p.p Предприятие ОАО «МДС-МИКРО» ориентировано на механическую обработку и изготовление изделий из листового материала для разнообразных сфер применения.
          p.p Имея современное производство и профессиональный конструкторско-технологический отдел, мы готовы предложить изготовление деталей и изделий по чертежам и эскизам заказчика, а также по образцам или техническому заданию.
          header.inner__header
            h3.h3 Продукция
            a(href="" download).file
              .file__icon
                img(src="./img/pdf.jpg", alt="")
              .file__text Прайслист на продукцию
          p.p Предприятие ОАО «МДС-МИКРО» ориентировано на механическую обработку и изготовление изделий из листового материала для разнообразных сфер применения.
          .inner__img
            img(src="./img/inner-1.jpg", alt="")
            .inner__sign Двигатель МДС 48 КУ
          p.p Предприятие ОАО «МДС-МИКРО» ориентировано на механическую обработку и изготовление изделий из листового материала для разнообразных сфер применения.
          .inner__img
            img(src="./img/inner-2.jpg", alt="")
            .inner__sign Двигатель с управляемым карбюратором МДС 15 КУ
        .col.col--sm-4
          i.i Стоимость услуг металлообработки рассчитывается индивидуально для каждого клиента. Взаимовыгодность — это то, к чему мы стремимся, поэтому всегда стараемся найти оптимальные схемы сотрудничества с клиентом.
          i.i Читать далее
          a.service(href="" style="background-image: url(./img/service/3.jpg)")
            .service__container
              .service__title Слесарная обработка
              .service__btn
                i.fa.fa-angle-right

      .show-more
        .show-more__icon
          img(src="./img/show-more.png", alt="")
        .show-more__text Показать еще

