doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title МДС-МИКРО
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    header.main-header
      .grid.grid--container
        .row.row--sm-center
          .col.col--sm-6
            .logo
              .logo__icon.main-header__logo
              .logo__text МДС-МИКРО
          .col.col--sm-3
            .main-header__mode Режим работы: с 08:30 до 20:00
          .col.col--sm-3
            .main-header__phone +7 / 495 / 555 55 55


    main
      block content

    footer.main-footer
      h1 footer


    script(src="./js/jquery.min.js")
    script(src="./js/jquery.easeScroll.js")
    script(src="./js/slick.min.js")
    script(src="./js/jquery.magnific-popup.min.js")
    script(src="./js/main.js")