extends layout.pug


block content
  .inner-wall(style="background-image: url('./img/inner-image.jpg')")
    .inner-wall__container
      .grid.grid--container
        h1.h1.inner-wall__title Обработка персональных данных
  
  .grid.grid--container
    .inner
      .row
        .col.col--lg-8
          p.p Настоящим я выражаю свое безусловное согласие на обработку своих персональных данных, содержащихся в настоящем документе [ФИО, адрес, телефон, возраст, электронный адрес и иные], которые предоставлены или могут быть предоставлены мной АО «Мерседес-Бенц РУС» (место нахождения: 125167, г. Москва, Ленинградский пр-т, 39А), любым способом допустимым законодательством РФ, согласие распространяется, в том числе, на сбор, запись, систематизацию, накопление, хранение, уточнение, использование, извлечение, уничтожение, блокирование, обезличивание, удаление и передачу, в том числе трансграничную, этих данных и осуществление аналогичных действий другими предприятиями концерна Даймлер АГ (Mercedesstraße 137, 70327 Stuttgart, Germany), а также любым другим компаниям, с которыми АО «Мерседес-Бенц РУС» по собственному усмотрению заключают соответствующие договоры, для следующих основных целей: предоставления мне информации в течение 10 лет о товарах и услугах, которые потенциально могут представлять интерес; проведения социологических и других исследований, в том числе исследования индекса удовлетворенности потребителей качеством предоставленных товаров и услуг, проводимых АО «Мерседес-Бенц РУС» и/или их контрагентами; а также в целях обработки возможных рекламаций и улучшения качества обслуживания. Согласие предоставляется на 10 (десять) лет. Я уведомлен и согласен с тем, что указанное согласие может быть отозвано путем направления в письменной форме уведомления в адрес АО «Мерседес-Бенц РУС», заказным почтовым отправлением с описью вложения, либо вручено лично под роспись уполномоченному представителю АО «Мерседес-Бенц РУС».


        .col.col--lg-3.col--lg-offset-1
          .person
            .person__img
              img(src="./img/marketolog.jpg", alt="")
            .person__name Смирнова Любовь
            .person__role Cекретарь
            .person__phone +7 48236 4-64-67






