extends layout.pug


block content
  .inner-wall(style="background-image: url('./img/inner-image.jpg')")
    .inner-wall__container
      .grid.grid--container
        h1.h1.inner-wall__title Карта сайта

  .grid.grid--container
    .inner
      .sitemap
        .sitemap__link.sitemap__link--big: a(href="") Продукция и услуги
        .sitemap__link: a(href="") Листообработка
        .sitemap__link: a(href="") Механообработка
        .sitemap__link: a(href="") Продажа микродвигателей
        .sitemap__link: a(href="") Слесарная обработка
        .sitemap__link: a(href="") Металлообработка ЧПУ
        .sitemap__link: a(href="") Изготовление деталей на станках с ЧПУ
        .sitemap__link: a(href="") Термообработка
        .sitemap__link.sitemap__link--big: a(href="") Новости
        .sitemap__link: a(href="") Равнение на чистый алюминий
        .sitemap__link: a(href="") Новые станки для ЧПУ обработки
        .sitemap__link.sitemap__link--big: a(href="") О компании
        .sitemap__link: a(href="") Контакты
        .sitemap__link: a(href="") Часто задаваемые вопросы
        .sitemap__link: a(href="") Вакансии
        .sitemap__link: a(href="") Доставка и оплата


