$main = #111
$gray = #868686
$light-gray = #eee
$primary = #eb251c
$secondary = #ffca3b
$link = #477cc5
$red = #c00505

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid $light-gray
$shadow = 0 5px 20px 0 rgba(18,25,38,.05)

$main-offset = 12rem

$font = 'Roboto', 'Arial', 'Helvetica', sans-serif
$font-header = 'Neris', 'Arial', 'Helvetica', sans-serif
