.full
  background-size cover
  background-position top center
  height 48rem
  margin-bottom 4.2rem
  .grid
    height 100%
    position relative
  &__container
    bottom 6rem
    position absolute
  .h3
    color #fff
    font-size 4rem
  p
    color #fff
    font-weight 500
    line-height 1.6
    max-width 42rem

@media(max-width 767px)
  .full
    margin-top 2.4rem