.contact
  &__label
    font-weight 300
    line-height 1.4
    margin-bottom 1rem
  &__mail
    font-size 3rem
    link()
    line-height 1
  &__address
    line-height 1.6
  &__phone
    font-size 3rem
  &__name
    font-weight 500
    margin-bottom 1rem
    margin-top 2px
    text-transform uppercase
  &__fax
    color $gray
    margin-bottom 1rem

.map
  height 40rem
  & + .main-footer
    margin-top 0

#map
  height 40rem