.faq
  border-bottom $border
  cursor pointer
  margin-bottom 1.8rem
  padding .8rem
  &__container
    display flex
  &__icon
    .fa
      font-size 1.6rem
      margin-right 1.6rem
      transform translateY(3px)
      transition transform .2s
  &__title
    font-size 2.4rem
    font-weight 500
    margin-bottom 1.6rem
  &__text
    display none
    line-height 1.4
    margin-bottom 1.6rem
    padding-left 2.4rem
  &--active
    .faq
      &__icon
        .fa
          transform rotate(180deg) translateY(-2px)