@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

@import 'pages/index.styl'
@import 'pages/inner.styl'

.grid--container
  max-width 1146px

.logo
  &__icon
    background-image url('../../img/logo.png')
    background-repeat no-repeat
    background-size 100%
    display inline-block
    margin-right 3rem
    size(53px, 68px)
    vertical-align middle
  &__text
    display inline-block
    font-family $font-header
    font-size 3.6rem
    font-weight 800
    vertical-align middle

.headers
  .grid
    position relative

.main-header
  color $main
  padding 2.4rem 0
  &__phone
    font-size 2.4rem
    font-weight 800
    text-align right

.nav
  align-items center
  background-color $main
  display flex
  position absolute
  top 10.1rem
  z-index 100
  width 100%
  &__link
    background-color $main
    color #fff
    display block
    font-weight 600
    padding 2.2rem 4rem
    text-transform uppercase
    &:hover
      background-color $main + 10%

.info-items
  margin-bottom 6rem
.info
  &__container
    margin-bottom 2rem
  &__number
    display inline-block
    font-family $font-header
    font-size 6.4rem
    font-weight 800
  &__text
    display inline-block
    font-family $font-header
    font-size 3.2rem
    font-weight 800
  &__subtitle
    font-weight 600
    opacity .7
    text-transform uppercase
  &--big
    .info
      &__number
        font-size 8rem
      &__subtitle
        font-size 1.8rem
        font-weight 400
        opacity initial
        text-transform initial

.main-footer
  background-color $light-gray
  margin-top 12rem
  padding 6rem 0
  &__header-link
    display block
    font-size 2rem
    font-weight 500
    margin-bottom 2rem
    &:hover
      color $primary
  &__block
    margin-bottom 3rem
  &__link
    display block
    margin-bottom 1.5rem
    &:hover
      color $primary
  &__info
    font-size 1.4rem
    line-height 1.7

@import 'base/media.styl'


