@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

@import 'pages/index.styl'

.grid--container
  max-width 1146px

.logo
  &__icon
    background-image url('../../img/logo.png')
    background-repeat no-repeat
    background-size 100%
    display inline-block
    margin-right 3rem
    size(53px, 68px)
    vertical-align middle
  &__text
    display inline-block
    font-family $font-header
    font-size 3.6rem
    font-weight 800
    vertical-align middle

.headers
  .grid
    position relative

.main-header
  color $main
  padding 2.4rem 0
  &__phone
    font-size 2.4rem
    font-weight 800
    text-align right

.hero
  background-color $main
  height calc(100vh - 10rem)
  max-height 80rem
  margin-bottom 7rem
  overflow hidden
  position relative
  &__video
    opacity 0.5
    position absolute
    video
      max-width 100%
  &__container
    align-items center
    color #fff
    display flex
    height 100%
    justify-content center
    position relative
    width 100%
    z-index 50
  &__content
    padding 0 8rem
  .logo
    &__icon
      background-image url('../../img/logo-white-big.png')
      size(106px, 136px)
    &__text
      font-size 12.4rem
      margin-top 2rem
      margin-bottom 3.5rem
      // transform translateY(.9rem)
  &__subtitle
    font-size 1.8rem
    line-height 1.6
    padding-left (208 / 1146 * 100)%

.nav
  align-items center
  background-color $main
  display flex
  justify-content space-between
  position absolute
  top 10.1rem
  z-index 100
  width 100%
  &__link
    background-color $main
    color #fff
    display block
    font-weight 600
    padding 0 4rem
    text-transform uppercase
    &:hover
      color $primary

.info-items
  margin-bottom 6rem
.info
  &__container
    margin-bottom 2rem
  &__number
    display inline-block
    font-family $font-header
    font-size 6.4rem
    font-weight 800
  &__text
    display inline-block
    font-family $font-header
    font-size 3.2rem
    font-weight 800
  &__subtitle
    font-weight 600
    opacity .7
    text-transform uppercase

.main-footer
  background-color $light-gray
  margin-top 12rem
  padding 6rem 0
  &__header-link
    display block
    font-size 2rem
    font-weight 500
    margin-bottom 1.5rem
    &:hover
      color $primary
  &__list
    margin-bottom 3rem
  &__link
    display block
    margin-bottom 1.5rem
    &:hover
      color $primary

@import 'base/media.styl'


